* {
  box-sizing: border-box;
}
/* Center website */
.main {
  margin-top:0px;
  max-width: 1000px;
  margin: auto;
  padding: 50px 120px 150px 120px;
  font-family: Arial;
  

}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 33%;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: transparent;
  padding: 10px;
}
img {
  border-radius: 5px;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
  /* Center website */
  .main {
    max-width: 1000px;
    margin: auto;
    padding: 150px 20px 150px;
    font-family: Arial;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  img {
    border-radius: 5px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .main { padding:0px; }
}

  h2 { 
      color: rgb(33, 176, 233);
      font-family: ;
  }

  h3 {
      color: rgb(206, 122, 74);
      font-family: fantasy;
  }